* {
  margin: 0px;
}
body {
  background-color: rgba(166, 171, 175, 0.637);
}

.post {
  background-color: rgb(14, 156, 156);
  width: 700px;
  margin: 50px auto 0px;
  padding: 50px 100px;
  border-left: 10px solid red;
}
.post h2 {
  color: white;
  font-family: Vardana;
  font-size: 2.5em;
  padding: 10px;
}
.post img {
  height: 400px;
}
.post p {
  font-family: Georgia;
  text-align: justify;
  margin-top: 30px;
}
